*{
    margin: 0px;
    /*padding: 10px;*/
}
div{
    color: red;
}

#id-selector{
    background-color: deepskyblue;
}

.class-one{
    color: blueviolet;
}

.class-two{

}
.class-three{

}

div ul li{
    color: chartreuse;
}

.child > p{
    background-color: lightcoral;
}

#adjacent + p{
    border: 2px solid red;
}

#general ~ p{
    border: 2px solid blue;
}

[title ~= "attribute-title-one"]{
    background-color: brown;
}

a:link{
    color: red;
}
a:visited{
    color: green;
}
a:active{
    color: blue;
}
#hover-me:hover{
    background-color: green;
}

nav p:first-child{
    background-color: blue;
}
nav p:last-child{
    background-color: green;
}
nav p:nth-child(2){
    background-color: blueviolet;
}

menu p:nth-child(odd){
    background-color: blue;
}

#pesudo-element-style::first-line{
    color: red;
}

#pesudo-element-style::first-letter{
    font-size: 50px;
}

#pesudo-element-style::before{
    content: "I am Before. ";
    margin-right: 20px;
}
#pesudo-element-style::after{
    content: "I am after. ";
    margin-left: 20px;
}