*{
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    background-color: bisque;
}
.flag-container{
    height: 250px;
    width: 500px;
    background-color: green;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flag-circle{
    height: 130px;
    width: 130px;
    background-color: red;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flag-handle{
    height: 200px;
    width: 40px;
    background-color: black;
    position: relative;
    top: 90%;
    border-top-right-radius: 30px;

}
.flag-footer{
    height: 50px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}
