p{
    background-color: lightblue;
}
h1{
    font-family: "Roboto Light", serif;
    font-size: larger;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
    /*background-color: lightblue;*/
    text-shadow: blueviolet;
}
li{
    text-shadow: blueviolet;
}